In [4]:
import pandas as pd

def display_pagadores(df: pd.DataFrame, colunas: list, eixo: str, alvo: str, comparativo: str):    
    for coluna in colunas:
        if coluna not in df.columns:
            raise ValueError(f"Coluna {coluna} não encontrada no DataFrame.")

    df_display = df[(df[eixo] == alvo)]
    for coluna in colunas:
        if (coluna == eixo) or (coluna == comparativo):
            continue
        
        dados = df_display[[coluna, comparativo]]

        coluna_rename = f'{coluna}_{alvo.upper()}'
        dados = dados.rename(columns={coluna : coluna_rename})
        
        contagem = dados.groupby([coluna_rename])[comparativo].value_counts().unstack()
        porcentagem = ((contagem.divide(contagem.sum(axis=1), axis=0) * 100).round(2)).dropna()

        display(porcentagem)

df_pagadores = pd.read_csv('dados/df_pagadores_status_pgto.csv') # df_pagadores_default_payment.csv / df_pagadores_status_pgto.csv

for column in df_pagadores.columns:
    for value in df_pagadores[column].unique():
        display_pagadores(df=df_pagadores, colunas=df_pagadores.columns, eixo=column, alvo=value, comparativo=df_pagadores.columns[-1])

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_MULHER
Ensino Médio                 75.79         24.21
Graduação                    77.93         22.07
Pós-graduação                81.72         18.28

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_MULHER
Casado                       77.71         22.29
Solteiro                     80.02         19.98

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
AGE_RANGES_MULHER
Adulto                       80.90         19.10
Jovem Adulto                 74.12         25.88
Meia-idade                   77.44         22.56
Terceira idade               78.26         21.74

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_HOMEM
Ensino Médio                 72.27         27.73
Graduação                    74.05         25.95
Pós-graduação                79.05         20.95

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_HOMEM
Casado                       73.94         26.06
Solteiro                     76.95         23.05

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
AGE_RANGES_HOMEM
Adulto                       77.26         22.74
Jovem Adulto                 70.71         29.29
Meia-idade                   74.44         25.56
Terceira idade               63.83         36.17

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_GRADUAÇÃO
Homem                        74.05         25.95
Mulher                       77.93         22.07

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_GRADUAÇÃO
Casado                       75.82         24.18
Solteiro                     77.05         22.95

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
AGE_RANGES_GRADUAÇÃO
Adulto                       78.20         21.80
Jovem Adulto                 71.71         28.29
Meia-idade                   75.71         24.29
Terceira idade               69.23         30.77

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_PÓS-GRADUAÇÃO
Homem                        79.05         20.95
Mulher                       81.72         18.28

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_PÓS-GRADUAÇÃO
Casado                       79.10         20.90
Solteiro                     81.46         18.54

STATUS_DEFAULT_PAYMENT    Adimplente  Inadimplente
AGE_RANGES_PÓS-GRADUAÇÃO
Adulto                         81.92         18.08
Jovem Adulto                   76.64         23.36
Meia-idade                     78.82         21.18
Terceira idade                 66.67         33.33

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_ENSINO MÉDIO
Homem                        72.27         27.73
Mulher                       75.79         24.21

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_ENSINO MÉDIO
Casado                       73.71         26.29
Solteiro                     75.35         24.65

STATUS_DEFAULT_PAYMENT   Adimplente  Inadimplente
AGE_RANGES_ENSINO MÉDIO
Adulto                        75.41         24.59
Jovem Adulto                  71.16         28.84
Meia-idade                    74.12         25.88
Terceira idade                74.42         25.58

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_CASADO
Homem                        73.94         26.06
Mulher                       77.71         22.29

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_CASADO
Ensino Médio                 73.71         26.29
Graduação                    75.82         24.18
Pós-graduação                79.10         20.90

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
AGE_RANGES_CASADO
Adulto                       77.37         22.63
Jovem Adulto                 69.27         30.73
Meia-idade                   75.73         24.27
Terceira idade               71.08         28.92

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_SOLTEIRO
Homem                        76.95         23.05
Mulher                       80.02         19.98

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_SOLTEIRO
Ensino Médio                 75.35         24.65
Graduação                    77.05         22.95
Pós-graduação                81.46         18.54

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
AGE_RANGES_SOLTEIRO
Adulto                       80.78         19.22
Jovem Adulto                 73.58         26.42
Meia-idade                   77.27         22.73
Terceira idade               70.00         30.00

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_JOVEM ADULTO
Homem                        70.71         29.29
Mulher                       74.12         25.88

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_JOVEM ADULTO
Ensino Médio                 71.16         28.84
Graduação                    71.71         28.29
Pós-graduação                76.64         23.36

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_JOVEM ADULTO
Casado                       69.27         30.73
Solteiro                     73.58         26.42

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_ADULTO
Homem                        77.26         22.74
Mulher                       80.90         19.10

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_ADULTO
Ensino Médio                 75.41         24.59
Graduação                    78.20         21.80
Pós-graduação                81.92         18.08

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_ADULTO
Casado                       77.37         22.63
Solteiro                     80.78         19.22

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_MEIA-IDADE
Homem                        74.44         25.56
Mulher                       77.44         22.56

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
EDUCATION_MEIA-IDADE
Ensino Médio                 74.12         25.88
Graduação                    75.71         24.29
Pós-graduação                78.82         21.18

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
MARRIAGE_MEIA-IDADE
Casado                       75.73         24.27
Solteiro                     77.27         22.73

STATUS_DEFAULT_PAYMENT  Adimplente  Inadimplente
SEX_TERCEIRA IDADE
Homem                        63.83         36.17
Mulher                       78.26         21.74

STATUS_DEFAULT_PAYMENT    Adimplente  Inadimplente
EDUCATION_TERCEIRA IDADE
Ensino Médio                   74.42         25.58
Graduação                      69.23         30.77
Pós-graduação                  66.67         33.33

STATUS_DEFAULT_PAYMENT   Adimplente  Inadimplente
MARRIAGE_TERCEIRA IDADE
Casado                        71.08         28.92
Solteiro                      70.00         30.00

STATUS_DEFAULT_PAYMENT  Inadimplente
SEX_INADIMPLENTE
Homem                          100.0
Mulher                         100.0

STATUS_DEFAULT_PAYMENT  Inadimplente
EDUCATION_INADIMPLENTE
Ensino Médio                   100.0
Graduação                      100.0
Pós-graduação                  100.0

STATUS_DEFAULT_PAYMENT  Inadimplente
MARRIAGE_INADIMPLENTE
Casado                         100.0
Solteiro                       100.0

STATUS_DEFAULT_PAYMENT   Inadimplente
AGE_RANGES_INADIMPLENTE
Adulto                          100.0
Jovem Adulto                    100.0
Meia-idade                      100.0
Terceira idade                  100.0

STATUS_DEFAULT_PAYMENT  Adimplente
SEX_ADIMPLENTE
Homem                        100.0
Mulher                       100.0

STATUS_DEFAULT_PAYMENT  Adimplente
EDUCATION_ADIMPLENTE
Ensino Médio                 100.0
Graduação                    100.0
Pós-graduação                100.0

STATUS_DEFAULT_PAYMENT  Adimplente
MARRIAGE_ADIMPLENTE
Casado                       100.0
Solteiro                     100.0

STATUS_DEFAULT_PAYMENT  Adimplente
AGE_RANGES_ADIMPLENTE
Adulto                       100.0
Jovem Adulto                 100.0
Meia-idade                   100.0
Terceira idade               100.0